html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#main {
  position: relative;
  clear: both;
  .wrap_content {
    width: 100%;
    float: left;
  }
  .sidebar {
    width: 260px;
    margin: 0 0 20px -252px;
    float: left;
    &.well {
      width: 220px;
    }
  }
  .content_with_sidebar {
    margin-right: 260px;
    overflow-x: auto;
  }
  .row-fluid .alert {
    max-width: 1000px;
  }
  .sidebar.abs_bar {
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
  }
}

#push {
  height: 40px;
}

#loading {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100000;
}

footer {
  height: 20px;
  padding: 10px 50px;
  text-align: right;
}