.simple_form {
  input, textarea {
    width: auto;
  }
  .fields {
    .second_nest {
      display: inline-block;
    }
    hr {
      margin: 10px 0;
    }
  }
  select {
    width: 350px;
  }
  .tab-content {
    position: relative;
  }
  select.date {
    width: auto;
  }
  select.datetime {
    width: auto;
  }
  .control-group.boolean {
    margin-bottom: 0;
    .controls {
      width: 20px;
    }
  }
  .form-actions {
    position: fixed;
    bottom: -20px;
    left: 0px;
    border-radius: 10px;
    padding: 10px;
    z-index: 4;
    .btn {
      margin-right: 5px;
    }
  }
  .input-mini       { width: 60px; }
  .input-small      { width: 90px; }
  .input-medium     { width: 150px; }
  .input-large      { width: 210px; }
  .input-xlarge     { width: 270px; }
  .input-xxlarge    { width: 530px; }
}

#search_form {
  select.input-small {
    margin-right: 30px;
  }
  .right-label {
    padding: 5px 0 0 130px;
  }
  #search_cancel {
    float: right;
  }
  label {
    margin-top: 5px;
  }
}

.datetimepicker-bottom-left-custom {
  margin-left: -110px;
}

.form_block {
  width: 700px;
}

input[type='color'] {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.label.do_toggle {
  cursor: pointer;
}

textarea.do_wysihtml5 {
  width: 625px;
}

textarea {
  width: auto;
}

.fancy_select, input.token {
  min-width: 220px;
}

.simple_form {
  .fancy_select, input.token {
    width: 500px;
  }
}

.select2-results {
  max-height: 500px;
}

.select2-create-choise {
  margin-left: 10px;
}