select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 4px;
}

.simple_form {
  input, textarea.text {
    width: 100%;
    max-width: 600px;
  }
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    width: auto;
  }
  .fields {
    .second_nest {
      display: inline-block;
    }
    hr {
      margin: 10px 0;
    }
  }
  select {
    width: 350px;
  }
  .tab-content {
    position: relative;
  }
  select.date {
    width: auto;
  }
  select.datetime {
    width: auto;
  }
  .control-group.boolean {
    margin-bottom: 0;
    .controls {
      width: 20px;
    }
  }
  .form-actions {
    position: fixed;
    bottom: -20px;
    left: 0;
    border-radius: 10px;
    padding: 5px;
    z-index: 4;
    .btn {
      margin-right: 5px;
    }
  }
  .input-append {
    white-space: nowrap;
  }
  .input-mini       { width: 60px; }
  .input-small      { width: 90px; }
  .input-medium     { width: 150px; }
  .input-large      { width: 210px; }
  .input-xlarge     { width: 270px; }
  .input-xxlarge    { width: 530px; }
  textarea.cke_source {
    max-width: none;
  }
}

#search_form {
  .right-label {
    padding: 5px 0 0 130px;
  }
  #search_cancel {
    float: right;
  }
  label {
    margin-top: 5px;
  }
  .string input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 4px;
  }
  .number .controls {
    select {
      float: left;
    }
    input {
      float: right;
    }
  }
  .date .controls {
    text-align: center;
    line-height: 2.3;
    input:first-child {
      float: left;
    }
    input {
      float: right;
    }
  }
  .select select {
    width: 100%;
  }
  .tooltip.left {
    -moz-transform: translateX(-10px) translateY(-4px);
    -ms-transform: translateX(-10px) translateY(-4px);
    -o-transform: translateX(-10px) translateY(-4px);
    -webkit-transform: translateX(-10px) translateY(-4px);
    transform: translateX(-10px) translateY(-4px);
  }
  hr {
    margin: 10px 0;
  }
  .search-submit-wide {
    display: block;
    width: calc(100% + 26px);
    margin-top: -13px;
    margin-left: -13px;
    margin-right: -13px;
  }
}

.datetimepicker-bottom-left-custom {
  margin-left: -110px;
}

.form_block {
  width: 700px;
}

input[type='color'] {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.label.do_toggle {
  cursor: pointer;
}

textarea.do_wysihtml5 {
  width: 625px;
}

textarea.text {
  width: 100%;
  max-width: 600px;
  height: 90px;
}

.fancy_select, input.token {
  min-width: 220px;
}

.simple_form {
  .fancy_select, input.token {
    width: 500px;
  }
}

.select2-results {
  max-height: 500px;
}

.select2-create-choice {
  margin-left: 10px;
}

.select2-container-multi .select2-choices {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius: 4px;
  background-image: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 3px;
}

.label.control-label.label-reset {
  display: block;
}

.list_edit .form-horizontal .control-group {
  margin-bottom: 1px;
}

.auto-submit-checkbox-wrap {
  display: inline-block;
  padding: 2px 4px 2px 6px;
  border-radius: 5px;
  input.js-auto-submit-checkbox[type='checkbox'] {
    width: auto;
    margin: 0;
    line-height: normal;
    vertical-align: text-bottom;
  }
  &.success {
    background-color: #dff0d8;
  }
  &.error {
    background-color: #f2dede;
  }
}