.grid_view {
  #columns_hider_show, .pagination .pagination, .per_page {
    display: none;
  }
  .pagination_info {
    position: absolute;
    right: 300px;
    top: 0px;
  }
  .grid_item {
    width: 31%;
    height: 230px;
    float: left;
    overflow: hidden;
    margin: 0 0 10px 2%;
  }
  #content {
    margin-left: -15px;
  }
}
