.locale_tabs {
  @include colored_tabs(#999);
}

.locale_tabs {
  .nav-tabs li {
    a {
      opacity: 0.5;
      font-size: 28px;
      padding: 8px 12px;
    }
    &.active a {
      opacity: 1;
      padding: 14px 12px 2px;
    }
  }
}

.t_locales {
  position: absolute;
  top: 25px;
  left: 2px;
  margin-left: 5px;
}

.t_locale {
  cursor: pointer;
  padding: 5px;
  opacity: 0.6;
  font-size: 26px;
  &:hover {
    opacity: 1;
  }
}