// tabs
.locale_tabs {
  @include colored_tabs(#999);
}
// icons
.locale_tabs {
  @each $lang in ru, uk, en, it, de, fr {
    li {
      a.ico_#{$lang} {
          background-position: 10px center;
          background-repeat: no-repeat;
          background-image: image-url("admin/flags/flag_#{$lang}_nonact.gif");
          background-color: white;
      }
      &.active a.ico_#{$lang} {
          background-image: image-url("admin/flags/flag_#{$lang}.gif");
      }
    }

    .t_locale_#{$lang} {
      background: image-url("admin/flags/b_#{$lang}.png") 10px center no-repeat;
    }
    ##{$lang} {
      .t_locale_#{$lang} {
         display: none;
      }
    }
  }
}

.t_locales {
  position: absolute;
  top: 0px;
  left: -5px;
  height: 60px;
  width: 40px;
  margin-left: 5px;
}

.t_locale {
  cursor: pointer;
  width: 30px;
  height: 19px;
  padding: 5px;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

// NON display: none; tabs
//.tab-content > .tab-pane {
//  clear: both;
//  display: block;
//  position: absolute;
//  height: 0px;
//  overflow: hidden !important;
//  &.active {
//    position: relative;
//    height: auto;
//    overflow: visible !important;
//  }
//}

//.asset_description {
//  width: 1000px;
//}
//
//.asset_block {
//  clear: both;
//  padding: 5px 0;
//}
//
//.asset_image {
//  float: left;
//  margin: 0 5px 5px 0;
//}
//
//.asset_inputs input {
//  margin-bottom: 5px;
//}
