.downloads {
  line-height: 14px;
  a {
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 5px;
    vertical-align: bottom;
    i {
      padding-right: 5px;
    }
  }
}

.pagination-wrap {
  .pagination {
    margin: 0;
    display: inline-block;
  }
  .pagination_info {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
  }
}

.content_actions > .pagination-wrap {
  margin-left: 15px;
}

.breadcrumb {
  margin-bottom: 5px;
}

.resource_actions {
  float: left;
  margin-top: -10px;
  margin-right: 10px;
  .btn {
    margin-right: 5px;
  }
}

.resource_title {
  margin-left: 50px;
  float: left;
  h1 {
    color: #333;
  }
}

.top_bar {
  padding: 5px 10px 10px;
}

.order_indicator {
  color: gray;
  font-size: 10px;
}

#main .content_actions {
  margin-bottom: 10px;
  margin-left: -30px;
  .btn-group {
    float: left;
    margin-left: 10px;
  }
  > *:first-child {
    margin-left: 30px;
  }
}

#columns_hider {
  width: 60%;
  margin-left: -30%;
}

#columns_hider_show {
  margin-left: 10px;
}

#lang_bar img {
  height: 16px;
  width: 24px;
}
