@mixin border-colors($top, $sides, $bottom){
  border-color: $sides;
  border-top-color: $top;
  border-right-color: $sides;
  border-bottom-color: $bottom;
  border-left-color: $sides;
}

table.index_table {
  &.table th, &.table td {
    padding: 3px 3px 5px;
  }
  input[type='checkbox'] {
    margin-right: 5px;
    margin-top: 0;
  }
  p {
    margin: 0 0 4px;
  }
  & > thead th {
    background: #EFEFEF;
    @include gradient-vertical(#EFEFEF, #DFE1E2);
    text-shadow: white 0 1px 0;
    border: solid 1px #CDCDCD;
    @include border-colors(#e6e6e6, #d4d4d4, #cdcdcd);
    @include box-shadow(#FFF);
    font-size: 1.0em;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 0.5em;
    color: #2E3439;
    border-right: none;
    text-align: left;
    & > thead th a.sort_link {
      white-space: normal;
    }
    a, a:link, a:visited {
      text-decoration: none;
      display: block;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      color: #2E3439;
    }
    a:hover {
      color: #2E3439;
    }
    &.sortable a {
      background: url("/images/admin/orderable.png") no-repeat 0 4px;
      padding-left: 13px;
    }
    &.sorted-asc a { background-position: 0 -27px; }
    &.sorted-desc a {  background-position: 0 -56px;}
    &.sorted-asc, &.sorted-desc {
      @include gradient-vertical(#e2e2e2, #d2d4d6);
    }
    &:last-child {
      border-right: solid 1px #d4d4d4;
    }
  }

  input.toggle {
    margin-left: 0;
  }
  tr.active_row td {
    background-color: #E5ECF9;
  }
  td.actions {
    min-width: 150px;
    padding-top: 0;
    a {
      margin-top: 5px;
    }
  }
  .toggle_box {
    padding: 8px;
  }

  tr.selected td {
    background: #d9e4ec;
  }
  .form-actions {
    position: static;
    background-color: transparent;
    border-top: none;
    margin: 0;
    .extra_buttons button {
      display: none;
    }
  }
  form.simple_form {
    margin: 0;
  }

  .actions_panel {
    width: 0px !important;
    vertical-align: bottom !important;
    padding: 0;
    margin: 0;
    border: none;
    .actions_panel-wrap_outer {
      position: relative;
      top: 0;
      bottom: 0;
      height: 100%;
      padding: 0 0 20px 0
    }

    .actions_panel-wrap_inner {
      display: none;
      position: absolute;
      left: 100px;
      width: auto;
      height: 20px;
      margin-top: 20px;
      padding: 5px 12px;
      background: #f6f6f6;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 3px 5px #bbb;
      border: #ccc 1px solid;
      border-top: none;
      z-index: 10;
      text-align: center;
      white-space: nowrap;
      > * {
        margin-top: -10px;
      }
      .hide_pane {
        display: none;
      }
    }
  }

  tr.test-hover > td > .actions_panel-wrap_outer > .actions_panel-wrap_inner,
  tr:hover > td > .actions_panel-wrap_outer > .actions_panel-wrap_inner {
    display: block;
  }
}

@mixin colored_row($color) {
  &, &:hover, & > td, &:hover > td {
    background-color: $color !important;
  }
}
.bg-lemon {
  @include colored_row(#d7ff76);
}
.bg-green {
  @include colored_row(#a4f58a);
}
.bg-skyblue {
  @include colored_row(#9de8f7);
}
.bg-blue {
  @include colored_row(#bbddfb);
}
.bg-orange {
  @include colored_row(#fce492);
}
.bg-yellow {
  @include colored_row(#ffefd5);
}
.bg-pink {
  @include colored_row(#f2c0db);
}
.bg-violet {
  @include colored_row(#f0dcff);
}
.bg-grey {
  @include colored_row(#eaeaea);
  color: #828282;
}
.bg-turquoise {
  @include colored_row(#ddfff3fc);
}

.table tbody {
  tr.success > td, &.success > tr > td, td.success {
    background-color: #dff0d8;
  }

  tr.error > td, &.error > tr > td, td.error {
    background-color: #f2dede;
  }

  tr.warning > td, &.warning > tr > td, td.warning {
    background-color: #fcf8e3;
  }

  tr.muted > td, &.muted > tr > td, td.muted {
    background-color: #ededed;
  }

  tr.info > td, &.info > tr > td, td.info {
    background-color: #d9edf7;
  }
}

#batch_action_form {
  margin-bottom: 10px;
}

#columns_hider_wrap {
  .dropdown-menu {
    margin-top: 60px;
  }
  label {
    margin: 0 10px;
  }
}