@mixin border-colors($top, $sides, $bottom){
  border-color: $sides;
  border-top-color: $top;
  border-right-color: $sides;
  border-bottom-color: $bottom;
  border-left-color: $sides;
}

table.index_table {
  th {
    background: #EFEFEF;
    @include gradient-vertical(#EFEFEF, #DFE1E2);
    text-shadow: white 0 1px 0;
    border: solid 1px #CDCDCD;
    @include border-colors(#e6e6e6, #d4d4d4, #cdcdcd);
    @include box-shadow(#FFF);
    font-size: 1.0em;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 0.5em;
    color: #2E3439;
    border-right: none;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;

    a, a:link, a:visited {
      text-decoration: none;
      display: block;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      color: #2E3439;
    }

    a:hover {
      color: #2E3439;
    }

    &.sortable a {
      background: url("/images/admin/orderable.png") no-repeat 0 4px; padding-left: 13px;
    }

    &.sorted-asc a { background-position: 0 -27px; }
    &.sorted-desc a {  background-position: 0 -56px;}

    &.sorted-asc, &.sorted-desc {
      @include gradient-vertical(#e2e2e2, #d2d4d6);
    }

    &:last-child {
      border-right: solid 1px #d4d4d4;
    }
  }

  input.toggle {
    margin-left: 0;
  }
  tr.active_row td {
    background-color: #E5ECF9;
  }
  td.actions {
    min-width: 150px;
    padding-top: 0;
    a {
      margin-top: 5px;
    }
  }
  .toggle_box {
    padding: 8px;
  }

  tr.selected td {
    background: #d9e4ec;
  }
  .form-actions {
    position: static;
    background-color: transparent;
    border-top: none;
    margin: 0;
    .extra_buttons button {
      display: none;
    }
  }
  form.simple_form {
    margin: 0;
  }
}
