#controller_locators {
  textarea {
    min-width: 450px;
  }
  table {
    margin-top: 15px;
    max-width: 1220px;
    width: auto;
    thead input {
      width: 97%;
    }
  }
  #translate_incomplete {
    margin-left: 100px;
  }
  .auto_translate {
    margin-top: 15px;
  }
}