.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/ckeditor_assets/
spec/dummy/public/uploads/
spec/dummy/app/helpers
spec/dummy/app/assets/javascripts/i18n/translations.js
spec/dummy/public/javascripts/ckeditor
spec/dummy/public/uploads_new
spec/dummy0
spec/factories/files/silicon_valley.jpg
lib/generators/ab_admin/ckeditor_assets/templates/ckeditor
rerun.txt
Gemfile.lock
tmp
/unused
NOTES
TODO

.idea
.ruby-version
.ruby-gemset
.rvmrc
.rspec
.DS_Store
rerun.txt
spec/dummy0