*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.idea
.rvmrc
.rspec

spec/tmp
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/db/schema.rb
spec/dummy/public/cache/
spec/dummy/public/assets/
spec/dummy/public/ckeditor_assets/
spec/dummy/public/uploads/
spec/dummy/vendor/bundle/
spec/dummy/app/helpers
spec/dummy/app/assets/javascripts/i18n/translations.js

NOTES
rerun.txt