.bundle/
log/*.log
tmp
/pkg/
/bin
/unused
/notes
/spec/exampples.txt
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/spec/dummy/public/ckeditor_assets/
/spec/dummy/public/uploads/
/spec/dummy/app/helpers
/spec/dummy/app/assets/javascripts/i18n/translations.js
/spec/dummy/public/javascripts/ckeditor
/spec/factories/files/silicon_valley.jpg
rerun.txt
Gemfile.lock
NOTES
TODO

.idea
.ruby-version
.ruby-gemset
.rspec
.DS_Store
.byebug_history