login: &login
  adapter: mysql2
  encoding: utf8
  reconnect: true
  pool: 5
  username: root
  password:
  socket: /var/lib/mysql/mysql.sock

development:
  database: ab_admin_dummy
  <<: *login

test: &test
  database: ab_admin_dummy_test
  <<: *login

staging:
  database: ab_admin_dummy
  <<: *login

production:
  database: ab_admin_dummy
  <<: *login

cucumber:
  <<: *test