- if tmpl = admin_partial_name(chart_builder)
  = render partial: tmpl, locals: local_assigns
- else
  h2 Generic chart template is not implemented yet. It can be here `admin/#{resource_collection_name}/_chart.html.slim`
