- if tmpl = admin_partial_name(stats_builder)
  = render partial: tmpl, locals: local_assigns
- else
  h2 Generic stats template is not implemented yet. It can be here `admin/#{resource_collection_name}/_stats.html.slim`
