.fileupload {
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  &.asset_asset_type {
    .asset {
      float: left;
      overflow: hidden;
      margin: 3px;
      position: relative;
      .del_image, .main_image, .crop_image, .rotate_image {
        position: absolute;
        cursor: pointer;
        background: rgba(100, 131, 137, 0.6);
        z-index: 1;
        padding: 1px 3px;
      }
      .del_image {
        right: 0;
        top: 0;
      }
      .main_image {
        right: 0;
        bottom: 0;
      }
      .crop_image {
        display: none;
        left: 0;
        bottom: 0;
      }
      .rotate_image {
        left: 0;
        bottm: 0;
      }
    }
    &.one_asset .main_image {
      display: none;
    }
  }
  .file-name {
    color: #5b6569;
    font-size: 0.9em;
    font-weight: bold;
  }
  .file-types {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 5px;
  }

  .file-types .type-info {
    float: right;
    color: #5b6569;
    font-size: 0.9em;
  }
}
