//q= require ab_admin/jquery.Jcrop.min

.fileupload {
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  .fileupload-button {
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }
  }
  .fileupload-edit-button {
    margin-left: 10px;
    display: none;
  }
  .fileupload-types {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 2;
    position: relative;
  }
  .fileupload-info {
    float: right;
    color: #5b6569;
    font-size: 0.9em;
  }
  .fileupload-info-extensions {
    text-transform: uppercase;
  }
  &.error .help-inline {
    color: #b94a48;
  }
  &.fileupload-file_type-image {
    .asset {
      float: left;
      overflow: hidden;
      margin: 3px;
      position: relative;
      z-index: 3;
      .destroy_asset, .main_image, .crop_image, .rotate_image {
        position: absolute;
        cursor: pointer;
        background: rgba(100, 131, 137, 0.6);
        z-index: 4;
        padding: 1px 3px;
      }
      .destroy_asset {
        right: 0;
        top: 0;
      }
      .main_image {
        right: 0;
        bottom: 0;
      }
      .crop_image {
        display: none;
        left: 0;
        bottom: 0;
      }
      .rotate_image {
        left: 0;
        bottm: 0;
      }
    }
    &.fileupload-single .main_image {
      display: none;
    }
  }
  &.fileupload-file_type-file {
    .asset {
      margin-bottom: 10px;
      z-index: 2;
      position: relative;
      .destroy_asset {
        margin-left: 15px;
      }
    }
  }
}

.fileupload-edit-form {
  .thumbnail img {
    max-height: 130px;
  }
}

