//= require bootstrap-wysihtml5
//= require ab_admin/bootstrap-editable
//= require select2
//= require fancybox
//= require ab_admin/bootstrap_and_overrides
//= require ab_admin/datetimepicker
//= require ab_admin/fileupload
