ol.nested_set * {
  //margin: 0; padding: 0;
  list-style:none;
}
.nested_set{
  padding: 0;
  list-style:none;
  font-size: 16px;
}
.nested_set ol{
  margin:0 0 0 25px;
  border-left:1px dashed gray;
}
.nested_set li{
  margin-bottom:5px;
}
.nested_set .link > a{
  color:#000;
  font-size:10pt;
  font-weight:normal;
  text-decoration:none;
  line-height: 150%;
  margin-left:30px;
  display:block;
}
.nested_set a img{float:left;}

.nested_set .root .link > a{
  font-weight:bold;
}
.nested_set a:hover{
  color:#2476FF;
  text-decoration:none;
}
.nested_set .handle{
  cursor: move;
}
.nested_set .link{
  position: relative;
  overflow: hidden;
  zoom:1;
  padding:5px;
  margin:0 0 5px 5px;
  background:#EFEFEF;
  -moz-border-radius:5px;
}
.nested_set .link:hover{
  background:#FEE;
}
.nested_set .controls{
  position: absolute;
  top: 5px; right: 10px;
}
.nested_set .button{
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin:0 0 0 3px;
  cursor:pointer;
}
.nested_set_new{
  margin:25px 0;
}
.nested_set .handle{
  width:16px;
  height:16px;
  float:left;
}
.nested_set .placeholder {
  background-color:#EEF;
  border:1px dashed blue;
}
.nested_set .ui-nestedSortable-error {
  background:#FAA;
  color:#8a1f11;
}
// overrides
.handle {
  background: url("/images/admin/move_16x16.png") !important;
}

.handle:hover {
  background: url("/images/admin/black_move_16x16.png") !important;
}

.nested_set .controls {
  margin-top: -4px;
  .btn {
    margin-right: 5px;
  }
}

ol.nested_set {
  max-width: 1000px;
}